  .particleContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: black;
    font-family: arial, sans-serif;
    overflow: hidden;
  }
  
  .content {
    position: relative;
    width: 600px;
    max-width: 100%;
    margin: 20px;
    background: white;
    padding: 60px 40px;
    text-align: center;
    box-shadow: -10px 10px 67px -12px rgba(0, 0, 0, 0.2);
    opacity: 0;
    animation: apparition 0.8s 1.2s cubic-bezier(0.39, 0.575, 0.28, 0.995) forwards;
  }
  .content p {
    font-size: 1.3rem;
    margin-top: 0;
    margin-bottom: 0.6rem;
    letter-spacing: 0.1rem;
    color: #595959;
  }
  .content p:last-child {
    margin-bottom: 0;
  }
  .content button {
    display: inline-block;
    margin-top: 2rem;
    padding: 0.5rem 1rem;
    border: 3px solid #595959;
    background: transparent;
    font-size: 1rem;
    color: #595959;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
  }
  
  .particle {
    position: absolute;
    display: block;
    pointer-events: none;
  }
  .particle:nth-child(1) {
    top: 48.8997555012%;
    left: 28.4872298625%;
    font-size: 18px;
    filter: blur(0.02px);
    animation: 34s float2 infinite;
  }
  .particle:nth-child(2) {
    top: 79.6068796069%;
    left: 55.2268244576%;
    font-size: 14px;
    filter: blur(0.04px);
    animation: 21s float2 infinite;
  }
  .particle:nth-child(3) {
    top: 10.6925880923%;
    left: 91.8866080156%;
    font-size: 23px;
    filter: blur(0.06px);
    animation: 28s float infinite;
  }
  .particle:nth-child(4) {
    top: 6.8965517241%;
    left: 64.2292490119%;
    font-size: 12px;
    filter: blur(0.08px);
    animation: 33s floatReverse2 infinite;
  }
  .particle:nth-child(5) {
    top: 38.8349514563%;
    left: 35.15625%;
    font-size: 24px;
    filter: blur(0.1px);
    animation: 23s floatReverse2 infinite;
  }
  .particle:nth-child(6) {
    top: 57.9710144928%;
    left: 63.2295719844%;
    font-size: 28px;
    filter: blur(0.12px);
    animation: 31s float2 infinite;
  }
  .particle:nth-child(7) {
    top: 74.9691738594%;
    left: 14.8367952522%;
    font-size: 11px;
    filter: blur(0.14px);
    animation: 27s float2 infinite;
  }
  .particle:nth-child(8) {
    top: 45.5205811138%;
    left: 58.4795321637%;
    font-size: 26px;
    filter: blur(0.16px);
    animation: 21s float infinite;
  }
  .particle:nth-child(9) {
    top: 46.4891041162%;
    left: 21.4424951267%;
    font-size: 26px;
    filter: blur(0.18px);
    animation: 25s float2 infinite;
  }
  .particle:nth-child(10) {
    top: 49.8168498168%;
    left: 77.5269872424%;
    font-size: 19px;
    filter: blur(0.2px);
    animation: 39s floatReverse2 infinite;
  }
  .particle:nth-child(11) {
    top: 59.9508599509%;
    left: 11.8343195266%;
    font-size: 14px;
    filter: blur(0.22px);
    animation: 21s float2 infinite;
  }
  .particle:nth-child(12) {
    top: 95.5367913148%;
    left: 91.3508260447%;
    font-size: 29px;
    filter: blur(0.24px);
    animation: 30s float infinite;
  }
  .particle:nth-child(13) {
    top: 35.2941176471%;
    left: 93.5039370079%;
    font-size: 16px;
    filter: blur(0.26px);
    animation: 25s floatReverse2 infinite;
  }
  .particle:nth-child(14) {
    top: 78.239608802%;
    left: 64.8330058939%;
    font-size: 18px;
    filter: blur(0.28px);
    animation: 27s float infinite;
  }
  .particle:nth-child(15) {
    top: 96.1165048544%;
    left: 76.171875%;
    font-size: 24px;
    filter: blur(0.3px);
    animation: 37s float infinite;
  }
  .particle:nth-child(16) {
    top: 31.0303030303%;
    left: 21.4634146341%;
    font-size: 25px;
    filter: blur(0.32px);
    animation: 37s float infinite;
  }
  .particle:nth-child(17) {
    top: 11.5662650602%;
    left: 30.0970873786%;
    font-size: 30px;
    filter: blur(0.34px);
    animation: 40s float2 infinite;
  }
  .particle:nth-child(18) {
    top: 43.425814234%;
    left: 25.267249757%;
    font-size: 29px;
    filter: blur(0.36px);
    animation: 33s float2 infinite;
  }
  .particle:nth-child(19) {
    top: 54.1205412054%;
    left: 30.602171767%;
    font-size: 13px;
    filter: blur(0.38px);
    animation: 40s floatReverse2 infinite;
  }
  .particle:nth-child(20) {
    top: 72.7272727273%;
    left: 38.4615384615%;
    font-size: 14px;
    filter: blur(0.4px);
    animation: 31s float2 infinite;
  }
  .particle:nth-child(21) {
    top: 75.271411339%;
    left: 46.6472303207%;
    font-size: 29px;
    filter: blur(0.42px);
    animation: 32s float infinite;
  }
  .particle:nth-child(22) {
    top: 56.0196560197%;
    left: 12.8205128205%;
    font-size: 14px;
    filter: blur(0.44px);
    animation: 26s floatReverse infinite;
  }
  .particle:nth-child(23) {
    top: 38.7878787879%;
    left: 20.487804878%;
    font-size: 25px;
    filter: blur(0.46px);
    animation: 32s float infinite;
  }
  .particle:nth-child(24) {
    top: 5.8252427184%;
    left: 40.0390625%;
    font-size: 24px;
    filter: blur(0.48px);
    animation: 38s float2 infinite;
  }
  .particle:nth-child(25) {
    top: 37.7267230955%;
    left: 65.2385589094%;
    font-size: 27px;
    filter: blur(0.5px);
    animation: 23s floatReverse2 infinite;
  }
  .particle:nth-child(26) {
    top: 7.7858880779%;
    left: 24.4618395303%;
    font-size: 22px;
    filter: blur(0.52px);
    animation: 24s float2 infinite;
  }
  .particle:nth-child(27) {
    top: 51.2077294686%;
    left: 48.6381322957%;
    font-size: 28px;
    filter: blur(0.54px);
    animation: 24s floatReverse infinite;
  }
  .particle:nth-child(28) {
    top: 47.7466504263%;
    left: 89.1283055828%;
    font-size: 21px;
    filter: blur(0.56px);
    animation: 38s float infinite;
  }
  .particle:nth-child(29) {
    top: 39.661426844%;
    left: 5.8422590068%;
    font-size: 27px;
    filter: blur(0.58px);
    animation: 32s floatReverse2 infinite;
  }
  .particle:nth-child(30) {
    top: 88.6723507917%;
    left: 25.4652301665%;
    font-size: 21px;
    filter: blur(0.6px);
    animation: 38s float2 infinite;
  }
  .particle:nth-child(31) {
    top: 38.5542168675%;
    left: 22.3300970874%;
    font-size: 30px;
    filter: blur(0.62px);
    animation: 23s float infinite;
  }
  .particle:nth-child(32) {
    top: 24.2130750605%;
    left: 1.9493177388%;
    font-size: 26px;
    filter: blur(0.64px);
    animation: 35s floatReverse2 infinite;
  }
  .particle:nth-child(33) {
    top: 60.9336609337%;
    left: 53.2544378698%;
    font-size: 14px;
    filter: blur(0.66px);
    animation: 39s floatReverse infinite;
  }
  .particle:nth-child(34) {
    top: 74.5098039216%;
    left: 62.0078740157%;
    font-size: 16px;
    filter: blur(0.68px);
    animation: 21s float infinite;
  }
  .particle:nth-child(35) {
    top: 15.5717761557%;
    left: 29.3542074364%;
    font-size: 22px;
    filter: blur(0.7px);
    animation: 23s floatReverse2 infinite;
  }
  .particle:nth-child(36) {
    top: 2.9020556227%;
    left: 87.6338851022%;
    font-size: 27px;
    filter: blur(0.72px);
    animation: 36s float infinite;
  }
  .particle:nth-child(37) {
    top: 98.0392156863%;
    left: 64.9606299213%;
    font-size: 16px;
    filter: blur(0.74px);
    animation: 35s float infinite;
  }
  .particle:nth-child(38) {
    top: 57.0024570025%;
    left: 79.8816568047%;
    font-size: 14px;
    filter: blur(0.76px);
    animation: 25s float infinite;
  }
  .particle:nth-child(39) {
    top: 69.3975903614%;
    left: 62.1359223301%;
    font-size: 30px;
    filter: blur(0.78px);
    animation: 22s floatReverse infinite;
  }
  .particle:nth-child(40) {
    top: 90.7317073171%;
    left: 91.1764705882%;
    font-size: 20px;
    filter: blur(0.8px);
    animation: 29s float infinite;
  }
  .particle:nth-child(41) {
    top: 13.6752136752%;
    left: 56.9185475957%;
    font-size: 19px;
    filter: blur(0.82px);
    animation: 24s floatReverse infinite;
  }
  .particle:nth-child(42) {
    top: 90.7117008444%;
    left: 0.9718172983%;
    font-size: 29px;
    filter: blur(0.84px);
    animation: 27s float infinite;
  }
  .particle:nth-child(43) {
    top: 11.7359413203%;
    left: 36.3457760314%;
    font-size: 18px;
    filter: blur(0.86px);
    animation: 27s floatReverse2 infinite;
  }
  .particle:nth-child(44) {
    top: 21.4111922141%;
    left: 45.0097847358%;
    font-size: 22px;
    filter: blur(0.88px);
    animation: 31s float infinite;
  }
  .particle:nth-child(45) {
    top: 80.7785888078%;
    left: 76.3209393346%;
    font-size: 22px;
    filter: blur(0.9px);
    animation: 26s float2 infinite;
  }
  .particle:nth-child(46) {
    top: 76.4207980653%;
    left: 75.9493670886%;
    font-size: 27px;
    filter: blur(0.92px);
    animation: 27s float2 infinite;
  }
  .particle:nth-child(47) {
    top: 85.7831325301%;
    left: 80.5825242718%;
    font-size: 30px;
    filter: blur(0.94px);
    animation: 33s floatReverse infinite;
  }
  .particle:nth-child(48) {
    top: 68.8806888069%;
    left: 68.1145113524%;
    font-size: 13px;
    filter: blur(0.96px);
    animation: 21s float2 infinite;
  }
  .particle:nth-child(49) {
    top: 79.704797048%;
    left: 74.0375123396%;
    font-size: 13px;
    filter: blur(0.98px);
    animation: 27s float2 infinite;
  }
  .particle:nth-child(50) {
    top: 25.458996328%;
    left: 10.8161258604%;
    font-size: 17px;
    filter: blur(1px);
    animation: 21s floatReverse infinite;
  }
  .particle:nth-child(51) {
    top: 64.8125755744%;
    left: 55.5014605648%;
    font-size: 27px;
    filter: blur(1.02px);
    animation: 36s floatReverse2 infinite;
  }
  .particle:nth-child(52) {
    top: 8.7061668682%;
    left: 33.106134372%;
    font-size: 27px;
    filter: blur(1.04px);
    animation: 22s floatReverse infinite;
  }
  .particle:nth-child(53) {
    top: 72.7272727273%;
    left: 24.6548323471%;
    font-size: 14px;
    filter: blur(1.06px);
    animation: 22s float2 infinite;
  }
  .particle:nth-child(54) {
    top: 35.1648351648%;
    left: 8.83218842%;
    font-size: 19px;
    filter: blur(1.08px);
    animation: 38s floatReverse2 infinite;
  }
  .particle:nth-child(55) {
    top: 24.6609124538%;
    left: 22.7497527201%;
    font-size: 11px;
    filter: blur(1.1px);
    animation: 26s float infinite;
  }
  .particle:nth-child(56) {
    top: 8.7378640777%;
    left: 35.15625%;
    font-size: 24px;
    filter: blur(1.12px);
    animation: 21s floatReverse2 infinite;
  }
  .particle:nth-child(57) {
    top: 97.4421437272%;
    left: 47.9921645446%;
    font-size: 21px;
    filter: blur(1.14px);
    animation: 27s float2 infinite;
  }
  .particle:nth-child(58) {
    top: 31.9612590799%;
    left: 84.7953216374%;
    font-size: 26px;
    filter: blur(1.16px);
    animation: 39s floatReverse infinite;
  }
  .particle:nth-child(59) {
    top: 93.4939759036%;
    left: 82.5242718447%;
    font-size: 30px;
    filter: blur(1.18px);
    animation: 38s floatReverse infinite;
  }
  .particle:nth-child(60) {
    top: 31.4110429448%;
    left: 53.2019704433%;
    font-size: 15px;
    filter: blur(1.2px);
    animation: 28s float2 infinite;
  }
  .particle:nth-child(61) {
    top: 64.656212304%;
    left: 43.7317784257%;
    font-size: 29px;
    filter: blur(1.22px);
    animation: 38s floatReverse infinite;
  }
  .particle:nth-child(62) {
    top: 16.7076167076%;
    left: 84.8126232742%;
    font-size: 14px;
    filter: blur(1.24px);
    animation: 40s floatReverse infinite;
  }
  .particle:nth-child(63) {
    top: 60.2673147023%;
    left: 28.3479960899%;
    font-size: 23px;
    filter: blur(1.26px);
    animation: 22s float infinite;
  }
  .particle:nth-child(64) {
    top: 64.7852760736%;
    left: 28.5714285714%;
    font-size: 15px;
    filter: blur(1.28px);
    animation: 33s floatReverse infinite;
  }
  .particle:nth-child(65) {
    top: 18.6961869619%;
    left: 23.6920039487%;
    font-size: 13px;
    filter: blur(1.3px);
    animation: 33s float2 infinite;
  }
  .particle:nth-child(66) {
    top: 2.9268292683%;
    left: 16.6666666667%;
    font-size: 20px;
    filter: blur(1.32px);
    animation: 22s float infinite;
  }
  .particle:nth-child(67) {
    top: 6.8880688807%;
    left: 66.14017769%;
    font-size: 13px;
    filter: blur(1.34px);
    animation: 33s float infinite;
  }
  .particle:nth-child(68) {
    top: 74.3961352657%;
    left: 95.3307392996%;
    font-size: 28px;
    filter: blur(1.36px);
    animation: 27s float2 infinite;
  }
  .particle:nth-child(69) {
    top: 28.431372549%;
    left: 46.2598425197%;
    font-size: 16px;
    filter: blur(1.38px);
    animation: 24s floatReverse2 infinite;
  }
  .particle:nth-child(70) {
    top: 65.605875153%;
    left: 81.6125860374%;
    font-size: 17px;
    filter: blur(1.4px);
    animation: 27s floatReverse2 infinite;
  }
  .particle:nth-child(71) {
    top: 82.2521419829%;
    left: 39.331366765%;
    font-size: 17px;
    filter: blur(1.42px);
    animation: 32s float infinite;
  }
  .particle:nth-child(72) {
    top: 8.7804878049%;
    left: 76.4705882353%;
    font-size: 20px;
    filter: blur(1.44px);
    animation: 25s floatReverse2 infinite;
  }
  .particle:nth-child(73) {
    top: 15.4589371981%;
    left: 59.3385214008%;
    font-size: 28px;
    filter: blur(1.46px);
    animation: 30s floatReverse infinite;
  }
  .particle:nth-child(74) {
    top: 32.8899637243%;
    left: 81.7916260954%;
    font-size: 27px;
    filter: blur(1.48px);
    animation: 24s float infinite;
  }
  .particle:nth-child(75) {
    top: 39.7094430993%;
    left: 6.8226120858%;
    font-size: 26px;
    filter: blur(1.5px);
    animation: 37s float infinite;
  }
  .particle:nth-child(76) {
    top: 32.5123152709%;
    left: 95.8498023715%;
    font-size: 12px;
    filter: blur(1.52px);
    animation: 38s float2 infinite;
  }
  .particle:nth-child(77) {
    top: 15.6479217604%;
    left: 7.858546169%;
    font-size: 18px;
    filter: blur(1.54px);
    animation: 22s float2 infinite;
  }
  .particle:nth-child(78) {
    top: 43.6893203883%;
    left: 76.171875%;
    font-size: 24px;
    filter: blur(1.56px);
    animation: 33s floatReverse infinite;
  }
  .particle:nth-child(79) {
    top: 83.9565741858%;
    left: 33.0417881438%;
    font-size: 29px;
    filter: blur(1.58px);
    animation: 37s floatReverse2 infinite;
  }
  .particle:nth-child(80) {
    top: 23.2445520581%;
    left: 48.7329434698%;
    font-size: 26px;
    filter: blur(1.6px);
    animation: 34s float infinite;
  }
  
  @keyframes apparition {
    from {
      opacity: 0;
      transform: translateY(100px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(180px);
    }
  }
  @keyframes floatReverse {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-180px);
    }
  }
  @keyframes float2 {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(28px);
    }
  }
  @keyframes floatReverse2 {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-28px);
    }
  }