<div class="d-flex flex-column align-items-center my-5 py-5">

    <h2>Registrar nuevo usuario</h2>

    <form class="form mt-4" role="form" action="/signup" method="post" autocomplete="off">

        <div class="form-group">
            <input name='username' placeholder="Nombre y Apellido" class="form-control" type="text" required>
        </div>
        <div class="form-group mt-1">
            <input name='email' placeholder="Email" class="form-control" type="text" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
        </div>
        <div class="form-group mt-1">
            <input name='password' placeholder="Password" class="form-control" type="password" required>
        </div>
        <div class="form-group mt-1">
            <input name='address' placeholder="Dirección" class="form-control" type="text" required>
        </div>
        <div class="form-group mt-1">
            <input name='age' placeholder="Edad" class="form-control" type="text" required pattern="[0-9]+">
        </div>
        <div class="form-group mt-1 d-flex">
            <select name="countryCode" style="width: 4.2rem; padding-left: .5rem;" class="mdb-select md-form" data-live-search="true" required>
                <option value="" disabled selected>País</option>
                {{#each countryCodes}}
                <option value={{dial_code}}>{{code}} - {{name}}</option>
                {{/each}}
            </select>
            <input name='phone' placeholder="Teléfono" class="form-control" type="text" required pattern="[0-9]+">
        </div>
        <div class="form-group mt-1">
            <input name='avatar' placeholder="Foto de perfil" class="form-control" type="text" required>
        </div>
        <div class="form-group d-flex mt-1">
            <input class="btn btn-success my-3 mx-auto" type="submit" value="Enviar">
        </div>
    </form>
    <form class="form mt-3" role="form" action="/login" method="get" autocomplete="off">
        <div class="form-group d-flex">
            <input class="btn btn-secondary my-3 mx-auto" type="submit" value="Volver">
        </div>
    </form>

</div>